---
import TopPageLayout from "../layouts/TopPageLayout.astro";
// import Card from "../components/Card.astro";
---

<TopPageLayout title="rfujii portfolio">
  <h1>Ryosuke Fujii</h1>
  <p>Software engineer in Osaka</p>
  <ul>
    <li>
      <a href="/cv">CV</a>
    </li>
    <li>
      <a href="https://github.com/ryofu1210">Github</a>
    </li>
  </ul>
</TopPageLayout>

<style>
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  p {
    margin: 10px 0 20px;
  }
  li {
    padding: 5px 0;
  }
</style>
